.idea/
code/ch02/guess_01/Cargo.lock
code/ch02/guess_01/target/
code/ch05/demo02/target
code/ch05/demo03/target
code/ch05/rectangles/target
code/ch06/demo01/target

code/ch04/section01/demo_04_03/Cargo.lock
code/ch04/section01/demo_04_03/target

code/ch04/section01/demo_04_04/Cargo.lock
code/ch04/section01/demo_04_04/target

code/ch04/section01/demo_04_05/Cargo.lock
code/ch04/section01/demo_04_05/target

code/ch04/list_04_02/target
code/ch04/list_04_02/Cargo.lock

code/ch04/listing_04_07/target
code/ch04/listing_04_07/Cargo.lock

code/ch04/clone_example/target
code/ch04/clone_example/Cargo.lock

code/ch04/wrong_1/target
code/ch04/wrong_1/Cargo.lock

code/ch04/listing_4_3/target
code/ch04/listing_4_3/Cargo.lock

code/ch04/listing_4_5/target
code/ch04/listing_4_5/Cargo.lock

code/ch04/listing_4_4/target
code/ch04/listing_4_4/Cargo.lock


code/ch04/copy_example/target
code/ch04/copy_example/Cargo.lock

code/ch04/listing_04_08/target
code/ch04/listing_04_08/Cargo.lock


code/ch05/listing_05_13/target
code/ch05/listing_05_13/Cargo.lock
code/ch05/listing_05_14/Cargo.lock
code/ch05/listing_05_14/target

code/ch06/listing_06_01/target
code/ch06/listing_06_01/Cargo.lock


code/ch06/listing_06_02/target
code/ch06/listing_06_02/Cargo.lock


code/ch06/listing_06_03/target
code/ch06/listing_06_03/Cargo.lock

code/ch07/listing_07_01/target
code/ch07/listing_07_01/Cargo.lock


code/ch07/listing_07_03/target
code/ch07/listing_07_03/Cargo.lock

code/ch07/listing_07_05/target
code/ch07/listing_07_05/Cargo.lock


code/ch07/listing_07_07/target
code/ch07/listing_07_07/Cargo.lock

code/ch07/demo02/target
code/ch07/demo02/Cargo.lock

code/ch07/listing_07_11/target
code/ch07/listing_07_11/Cargo.lock

code/ch07/listing_07_12/target
code/ch07/listing_07_12/Cargo.lock

code/ch07/listing_07_13/target
code/ch07/listing_07_13/Cargo.lock

code/ch07/listing_07_14/target
code/ch07/listing_07_14/Cargo.lock


code/ch08/listing_08_01/target
code/ch08/listing_08_01/Cargo.lock

code/ch08/listing_08_02/target
code/ch08/listing_08_02/Cargo.lock


code/ch08/listing_08_03/target
code/ch08/listing_08_03/Cargo.lock

code/ch08/listing_08_04/target
code/ch08/listing_08_04/Cargo.lock

code/ch08/listing_08_05/target
code/ch08/listing_08_05/Cargo.lock

code/ch08/listing_08_06/target
code/ch08/listing_08_06/Cargo.lock

code/ch08/listing_08_07/target
code/ch08/listing_08_07/Cargo.lock

code/ch08/listing_08_08/target
code/ch08/listing_08_08/Cargo.lock

code/ch08/listing_08_09/target
code/ch08/listing_08_09/Cargo.lock

code/ch08/listing_08_10/target
code/ch08/listing_08_10/Cargo.lock

code/ch08/listing_08_11/target
code/ch08/listing_08_11/Cargo.lock

code/ch08/listing_08_12/target
code/ch08/listing_08_12/Cargo.lock

code/ch08/listing_08_14/target
code/ch08/listing_08_14/Cargo.lock

code/ch08/listing_08_20/target
code/ch08/listing_08_20/Cargo.lock

code/ch08/listing_08_21/target
code/ch08/listing_08_21/Cargo.lock

code/ch08/listing_08_22/target
code/ch08/listing_08_22/Cargo.lock

code/ch08/listing_08_23/target
code/ch08/listing_08_23/Cargo.lock

code/ch08/listing_08_24/target
code/ch08/listing_08_24/Cargo.lock

code/ch08/listing_08_25/target
code/ch08/listing_08_25/Cargo.lock

code/ch08/listing_08_26/target
code/ch08/listing_08_26/Cargo.lock

code/ch09/listing_09_03/target
code/ch09/listing_09_03/Cargo.lock

code/ch09/listing_09_04/target
code/ch09/listing_09_04/Cargo.lock

code/ch09/listing_09_05/target
code/ch09/listing_09_05/Cargo.lock

code/ch09/listing_09_06/target
code/ch09/listing_09_06/Cargo.lock

code/ch09/listing_09_07/target
code/ch09/listing_09_07/Cargo.lock

code/ch09/listing_09_08/target
code/ch09/listing_09_08/Cargo.lock

code/ch09/listing_09_09/target
code/ch09/listing_09_09/Cargo.lock

code/ch09/listing_09_09_01/target
code/ch09/listing_09_09_01/Cargo.lock


code/ch09/listing_09_09_02/target
code/ch09/listing_09_09_02/Cargo.lock


code/ch10/listing_10_01/target
code/ch10/listing_10_01/Cargo.lock

code/ch10/listing_10_02/target
code/ch10/listing_10_02/Cargo.lock

code/ch10/listing_10_03/target
code/ch10/listing_10_03/Cargo.lock

code/ch10/listing_10_03_right/target
code/ch10/listing_10_03_right/Cargo.lock

code/ch10/listing_10_04/target
code/ch10/listing_10_04/Cargo.lock

code/ch10/listing_10_05/target
code/ch10/listing_10_05/Cargo.lock

code/ch10/listing_10_06/target
code/ch10/listing_10_06/Cargo.lock

code/ch10/listing_10_07/target
code/ch10/listing_10_07/Cargo.lock

code/ch10/listing_10_08/target
code/ch10/listing_10_08/Cargo.lock

code/ch10/listing_10_09/target
code/ch10/listing_10_09/Cargo.lock

code/ch10/listing_10_10/target
code/ch10/listing_10_10/Cargo.lock


code/ch10/listing_10_11/target
code/ch10/listing_10_11/Cargo.lock


code/ch10/listing_10_12/target
code/ch10/listing_10_12/Cargo.lock



code/ch10/listing_10_13/target
code/ch10/listing_10_13/Cargo.lock


code/ch10/listing_10_14/target
code/ch10/listing_10_14/Cargo.lock

code/ch10/listing_10_14_01/target
code/ch10/listing_10_14_01/Cargo.lock

code/ch10/listing_10_14_v1/target
code/ch10/listing_10_14_v1/Cargo.lock

code/ch10/listing_10_15/target
code/ch10/listing_10_15/Cargo.lock


code/ch10/listing_10_15_v1/target
code/ch10/listing_10_15_v1/Cargo.lock

code/ch10/listing_10_16/target
code/ch10/listing_10_16/Cargo.lock

code/ch10/listing_10_17/target
code/ch10/listing_10_17/Cargo.lock

code/ch10/listing_10_18/target
code/ch10/listing_10_18/Cargo.lock

code/ch10/listing_10_19/target
code/ch10/listing_10_19/Cargo.lock

code/ch10/listing_10_20/target
code/ch10/listing_10_20/Cargo.lock

code/ch10/listing_10_21/target
code/ch10/listing_10_21/Cargo.lock

code/ch10/listing_10_22/target
code/ch10/listing_10_22/Cargo.lock

code/ch10/listing_10_23/target
code/ch10/listing_10_23/Cargo.lock

code/ch10/listing_10_24/target
code/ch10/listing_10_24/Cargo.lock

code/ch10/listing_10_24_1/target
code/ch10/listing_10_24_1/Cargo.lock

code/ch10/listing_10_24_2/target
code/ch10/listing_10_24_2/Cargo.lock

code/ch10/listing_10_25/target
code/ch10/listing_10_25/Cargo.lock

code/ch10/listing_10_26/target
code/ch10/listing_10_26/Cargo.lock

code/ch11/adder/target
code/ch11/adder/Cargo.lock

code/ch12/listing_12_1/target
code/ch12/listing_12_1/Cargo.lock


code/ch12/listing_12_2/target
code/ch12/listing_12_2/Cargo.lock

code/ch12/listing_12_3/target
code/ch12/listing_12_3/Cargo.lock

code/ch12/listing_12_4/target
code/ch12/listing_12_4/Cargo.lock

code/ch12/listing_12_5/target
code/ch12/listing_12_5/Cargo.lock

code/ch12/listing_12_6/target
code/ch12/listing_12_6/Cargo.lock

code/ch12/listing_12_7/target
code/ch12/listing_12_7/Cargo.lock

code/ch12/listing_12_8/target
code/ch12/listing_12_8/Cargo.lock

code/ch12/listing_12_9/target
code/ch12/listing_12_9/Cargo.lock


code/ch12/listing_12_10/target
code/ch12/listing_12_10/Cargo.lock

code/ch12/listing_12_11/target
code/ch12/listing_12_11/Cargo.lock

code/ch12/listing_12_12/target
code/ch12/listing_12_12/Cargo.lock

code/ch12/listing_12_13/target
code/ch12/listing_12_13/Cargo.lock

code/ch12/listing_12_14/target
code/ch12/listing_12_14/Cargo.lock

code/ch12/listing_12_15/target
code/ch12/listing_12_15/Cargo.lock

code/ch12/listing_12_16/target
code/ch12/listing_12_16/Cargo.lock

code/ch12/listing_12_17/target
code/ch12/listing_12_17/Cargo.lock

code/ch12/listing_12_18/target
code/ch12/listing_12_18/Cargo.lock

code/ch12/listing_12_19/target
code/ch12/listing_12_19/Cargo.lock

code/ch12/listing_12_20/target
code/ch12/listing_12_20/Cargo.lock

code/ch12/listing_12_21/target
code/ch12/listing_12_21/Cargo.lock

code/ch12/listing_12_22/target
code/ch12/listing_12_22/Cargo.lock

code/ch12/listing_12_23/target
code/ch12/listing_12_23/Cargo.lock

code/ch12/listing_12_24/target
code/ch12/listing_12_24  /Cargo.lock

*.lock
.vscode/launch.json
